.icon-expand {
    background-image: url(node_modules/@material-design-icons/svg/filled/expand_circle_down.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
}
.icon-play {
    background-image: url(node_modules/@material-design-icons/svg/filled/play_arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
}
.icon-stop {
    background-image: url(node_modules/@material-design-icons/svg/filled/stop.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
}
.linethrough {
    text-decoration: line-through;
}
.strikethrough {
    position: relative;
}
.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
}
.rat {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
}
body {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
html,
body {
    background: #fff;
}
label,
input,
select,
#mbar,
#schuivers {
    font-family: arial;
    font-size: 15px;
}
#btns {
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 3;
}
#voices div,
#play {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
#mbar {
    padding: 10px 4px;
    text-align: right;
    background-color: #eee;
    display: flex;
}
#voices {
    display: flex;
}
#voices div:hover,
#panel-button,
#play:hover,
#playbk:hover {
    cursor: pointer;
}
#menu {
    background-color: #eee;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    flex-direction: column;
}
#menu label {
    display: block;
    margin-bottom: 8px;
}
#menu label > span {
    display: inline-block;
    width: 7.5em;
}
#notation {
    height: 95%;
    display: inline-block;
    vertical-align: top;
}
#err {
    display: none;
    height: 5%;
    background-color: #eee;
}
#err:hover {
    height: 50%;
    position: absolute;
    top: 50%;
}
#rollijn {
    position: absolute;
    height: 30px;
    width: 100%;
    z-index: 1;
    top: 30%;
}
#rollijn:hover {
    cursor: row-resize;
    background: #00ff004d;
}
#tempo {
    width: 3em;
}
#abcfile {
    display: inline-block;
}
#mtrsvg {
    vertical-align: middle;
}
#schuivers {
    justify-content: space-around;
    border-top: black 1px solid;
    padding-top: 5px;
}
.dashed {
    border-bottom: thin dashed black;
}
.spel {
    background: #00ff004d;
}
.dlog {
    display: none;
    background: #add8e6;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    padding: 10px;
    transform: translate(-50%, -50%);
    z-index: 9;
    overflow: auto;
}
.indrag {
    background: #aaa;
}
.rij {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.schuif {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}
.schuif:nth-child(odd) {
    background: #ffe;
}
.schuif:nth-child(2n) {
    background: #eff;
}
.instnum {
    margin: 5px;
}
.instnum input {
    width: 2.5em;
}
.vol input[type="range"],
.pan input[type="range"] {
    writing-mode: vertical-lr;
}
