.icon-expand {
    background-image: url(node_modules/@material-design-icons/svg/filled/expand_circle_down.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
}

.icon-play {
    background-image: url(node_modules/@material-design-icons/svg/filled/play_arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
}

.icon-stop {
    background-image: url(node_modules/@material-design-icons/svg/filled/stop.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
}

.linethrough {
    text-decoration: line-through;
}

.strikethrough {
    position: relative;
}

.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

#err {
    display: none;
}

#tempo {
    width: auto;
    writing-mode: horizontal-tb;
}

#voices div,
#play {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#voices,
#mbar {
    display: flex;
}

#voices div:hover,
#panel-button,
#play:hover,
#playbk:hover {
    cursor: pointer;
}

#mbar:hover {
    cursor: default;
}